## AIM

With this notebook, I aim to 
 - Find authors without full name
 - find authors with first names being initials

In [1]:
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
# df1 = pd.read_csv('../data/processed/author_with_pred.csv')
# df1[(df1.firstName.isnull()) | (df1.lastName.isnull())].doi

In [3]:
df = pd.read_csv('../data/processed/authors_to_study.csv')

In [4]:
df[(df.firstName.isnull()) | (df.lastName.isnull())]

,authorID,doi,url,year,title,journal,numberOfAuthors,authorPosition,authorFullName,firstName,...,white,raceHighest,raceSecondHighest,raceDiff,affProcessed,affiliation.2,ROR_AFFNAME,matchMethod,ROR_ID,type
3612,10.1111/j.1460-2466.1980.tb02015.x+2.0,10.1111/j.1460-2466.1980.tb02015.x,https://academic.oup.com/joc/article/30/4/50/4...,1980,Programming for Development in Indonesia,Journal of Communication,2.0,2.0,Alfian,NaN,...,0.220853,0.684015,0.220853,0.463161,national institute of economic and social rese...,2 National Institute of Economic and Social Re...,National Institute of Economic and Social Rese...,Exact,https://ror.org/048m81442,R

There is only one person whose name is not complete.

In [5]:
df = df[(df.firstName.notnull()) & (df.lastName.notnull())]

In [95]:
df['firstNameLength'] = df.apply(lambda row: len(row.firstName), axis = 1)

In [102]:
two_df = df[(df.firstName.str.contains('.', regex = False)) & (df.firstNameLength == 2)]
two_df.sample(3)

,authorID,doi,url,year,title,journal,numberOfAuthors,authorPosition,authorFullName,firstName,...,raceHighest,raceSecondHighest,raceDiff,affProcessed,affiliation.2,ROR_AFFNAME,matchMethod,ROR_ID,type,firstNameLength
5735,10.1111/j.1468-2958.2010.01392.x+1.0,10.1111/j.1468-2958.2010.01392.x,https://academic.oup.com/hcr/article/37/1/34/4...,2011,An Online Process Model of Second-Order Cultiv...,Human Communication Research,4.0,1.0,L. J. Shrum,L.,...,0.889826,0.060513,0.829313,department of marketing university of texas at...,"1 Department of Marketing, University of Texas...",The University of Texas at San Antonio,API_QUERY,https://ror.org/01kd65564,R,2
4761,10.1111/j.1460-2466.1962.tb01529.x+2.0,10.1111/j.1460-2466.1962.tb01529.x,https://academic.oup.com/joc/article/12/2/90/4...,1962,An Attempt to Quantify the “Abstraction Ladder”,Journal of Communication,3.0,2.0,W. W. Lewis,W.,...,0.530614,0.440635,0.089979,dr lewis is temporarily chief assessment branc...,2 Dr. Lewis is temporarily Chief Assessment Br...,The New Teacher Project,API_QUERY,https://ror.org/04p9zhq85,R,2
4820,10.1111/j.1460-2466.1959.tb00314.x+1.0,10.1111/j.1460-2466.1959.tb00314.x,https://academic.oup.com/joc/article/9/4/168/4...,1959,The Three Eras of Management Communication,Journal of Communication,1.0,1.0,C. J. Dover,C.,...,0.870849,0.087192,0.783657,mr dover is a consultant in communication and ...,1 Mr. Dover is a consultant in communication a...,Łukasiewicz Research Network - Institute of We...,API_QUERY,https://ror.org/05xx8bb48,R,2

In [103]:
two_df_doi = two_df.doi.tolist()

In [104]:
one_df_doi = df[df.firstNameLength == 1].doi.tolist()

In [107]:
to_remove_dois = list(set(two_df_doi + one_df_doi))
len(dois)

70

In [109]:
df[df.doi.isin(to_remove_dois)].shape

(157, 40)

In [111]:
Counter(df[df.doi.isin(to_remove_dois)].year)

Counter({2018: 3,
         2014: 4,
         2013: 8,
         2006: 2,
         2002: 6,
         1987: 3,
         1985: 3,
         1982: 4,
         1981: 5,
         1980: 1,
         1979: 4,
         1978: 8,
         1977: 9,
         1976: 2,
         1975: 1,
         1972: 2,
         1970: 1,
         1968: 6,
         1963: 2,
         1962: 4,
         1961: 3,
         1960: 1,
         1959: 1,
         1958: 1,
         1956: 1,
         1955: 1,
         1952: 2,
         1951: 4,
         2021: 3,
         2016: 3,
         2011: 6,
         2007: 3,
         2001: 3,
         1997: 4,
         1996: 1,
         1990: 3,
         1989: 2,
         1988: 4,
         1999: 1,
         2020: 11,
         2010: 3,
         2009: 11,
         2005: 5,
         2022: 2})